<!DOCTYPE HTML>

<html>

    <head>
        <title>{% block title %} Kindle notes parser {% endblock %} </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}" />
    </head>

    <body>
        {% block navig %}
            <nav>
                <p>
                    <a href="{{ path('homepage') }}">Accueil</a>

                </p>
            </nav>
        {% endblock %}

        <div id="formulaire_central">

            {% block header %}
                <header>

                    <form action="#" method="post" enctype="multipart/form-data">
                        <p>
                            Bonjour  'cookie'  ! Ca n'est pas vous ? Modifier votre pseudo ici :

                            {#{{ form_start(form) }}#}
                            {#{{ form_widget(form) }}#}
                            {#{{ form_end(form) }}#}

                            <input type="text" name="pseudonyme" />
                            <input type="submit" value="Valider votre pseudo" />
                        </p>
                    </form>

                </header>
            {% endblock %}



            {% block formulaire_central %}
                <h1>Texte par defaut </h1>

            {% endblock %}


        </div>

    </body>

</html>
