{% extends 'base.html.twig' %}

{% block formulaire_central %}
            <br>

            <div id="books_picture"> </div>

            <h1>Voici une liste de vos livres charges dans notre base de donnees : </h1>

            <br>

            <h1>Chargez vos notes Kindle et transformez-les en fiches de revision de vocabulaire : </h1>
    
            {{ form_start(formBook) }}

            <div class="form-group">
                {{ form_row(formBook.title, {'attr': {'placeholder': 'Titre du livre'}}) }}

                <br/>

                {{ form_row(formBook.owner_id, {'attr': {'placeholder': 42}}) }}

                <br/>

                {{ form_row(formBook.file_name, {'attr': {'placeholder': 'Nom du fichier'}}) }}
                <br/>

                <button type = 'submit'>Envoyer ! </button>

            </div>

    {{ form_end(formBook) }}

{% endblock %}

