{% extends 'base.html.twig' %}
{% block formulaire_central %}

{{ form_start(formBook) }}
<div class="form-group">
    <label for = "bookTitle">Titre</label>
    {{ form_widget(formBook.title) }}

    <br/>

    <label for ="BookOwnerId">Identifiant du proprietaire</label>
    {{ form_widget(formBook.owner_id) }}

    <br/>

    <label for = "BookFileName">Nom du fichier</label>
    {{ form_widget(formBook.file_name) }}

    <br/>

</div>

    {{ form_end(formBook) }}

{% endblock %}
